.carousel {
  position: relative;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: auto;
  border: 1px solid #eee;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__slide__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embla__slide__background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.1);
  z-index: 1;
}

.embla__slide__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: relative;
  z-index: 2;
}

.embla__slide__title_container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}

.embla__slide__title_container h2 {
  margin: 0;
  font-size: 1.2em;
  color: white;
}
